<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    .header {
      background-color: black;
      padding: 20px;
      color: white;
    }

    .header a {
      color: white;
      text-decoration: none;
      margin-right: 10px;
    }

    .header a:hover {
      text-decoration: underline;
    }

    .container {
      margin-top: 50px;
      text-align: center;
    }

    .container h1 {
      margin-bottom: 20px;
    }

    .container form {
      display: inline-block;
      text-align: left;
    }

    .container form label {
      display: block;
      margin-bottom: 10px;
    }

    .container form input {
      width: 300px;
      height: 30px;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .container form button {
      width: 200px;
      height: 50px;
      font-size: 18px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="header">
    <a href="/">Home</a>
  </div>

  <div class="container">
    <h1>Reset Password</h1>
    <form id="resetPasswordForm" action="/resetPassword" method="PUT">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
    </form>
  </div>

  <script>
    $(document).ready(function() {
      $('#resetPasswordForm').submit(function(event) {
        event.preventDefault(); // Prevent the default form submission

        // Get form data
        var formData = {
          email: $('#email').val(),
          newPassword: $('#newPassword').val()
        };

        // Make an AJAX PUT request to the backend
        resetPassword(formData);
      
      });
    });
  </script>
</body>
</html>
